@import "tailwindcss";

@theme {
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

/* Custom Brutalist Utilities */
::selection {
  background-color: white;
  color: black;
}

html, body {
  background-color: black;
  color: white;
}
